@{ 
    var user = (HRM_DEV.Models.USUARIOS)Session["usuarios"];
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HR-Manager</title>
    @Styles.Render("~/Content/EstiloPrincipal.css")
    @Scripts.Render("~/bundles/modernizr")
    @*librerias de alertify*@
    <script type="text/javascript" src="~/Scripts/alertify.min.js"></script>
    <link rel="stylesheet" href="~/Content/alertify.core.css" />
    <link rel="stylesheet" href="~/Content/alertify.default.css" />
</head>
<body>
    @if (user == null)
    {
        <script> window.location.href='@Url.Action("Login", "Login")'; </script>
    }
    else
    {
    <div class="container">
        <header>
            <span class="Home"></span>
            <h1>@Html.ActionLink("HR-Manager", "Index", "Home", null, new { @class = "h1Letra" })</h1>
            <h2>Bienvenido(a): @user.NOMBRE_USUARIO</h2>
            <a class='boton' id="BotonConexus" onclick="return MostrarCuadroLogin()"></a>
            <div id="triangulo"></div>
            <div id="rectangulo">
                <div id="conexus"></div>
                <a id="usuario" href="/Usuarios/Details/@user.ID_USUARIO">@user.NOMBRE_USUARIO</a>
            </div>
            <div id="rectanguloBotones">
                <input id="cerrarSession" type="button" value="Cerrar Session" onclick="location.href='@Url.Action("CerrarSession", "Login")'" class="buttonLogin" />
            </div>
        </header>
        <aside>
            <table>

                @if (user.ACC_EMPRESA.Equals("Si"))
                {
                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "EMPRESAS")'"><spam class="Icono" id="Empresas"></spam> Empresas</td>
                    </tr>
                }

                @if (user.ACC_DEPART.Equals("Si"))
                {
                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "DEPARTAMENTOS")'"><spam class="Icono" id="Departamentos"></spam>Departamentos</td>
                    </tr>
                }

                @if (user.ACC_PUESTOS.Equals("Si"))
                {
                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "PUESTOS")'"><spam class="Icono" id="Puestos"></spam> Puestos</td>
                    </tr>
                }

                @if (user.ACC_EMPLEADOS.Equals("Si"))
                {

                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "EMPLEADOS")'"><spam class="Icono" id="Personal"></spam> Personal</td>
                    </tr>

                }

                @if (user.ACC_ACCIONES.Equals("Si"))
                {

                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("Expediente", "Expedientes")'"><spam class="Icono" id="Acciones"></spam> Expediente Laboral</td>
                    </tr>

                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("GenerarReporte", "Reportes")'"><spam class="Icono" id="Reportes"></spam> Reportes</td>
                    </tr>
                }

                @if (user.ROL.Equals("Root"))
                {
                    <tr class="TrOpciones">
                        <td class="Seleccion"></td>
                        <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "USUARIOS")'"><spam class="Icono" id="Usuarios"></spam> Usuarios</td>
                    </tr>
                }
            </table>

            <img src="~/Imagenes/conexus3.png">
        </aside>
    </div>
    <section class="scrollVertical">
        <article>
            @RenderBody()
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </article>
    </section>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (TempData["Error"] != null)
    {
        string alert = "Your custom error message";
        alert = TempData["Error"].ToString();
        <script type="text/javascript">
            alertify.error('@alert');
        </script>
    }
    @if (TempData["Success"] != null)
    {
        string alert = "Your custom error message";
        alert = TempData["Success"].ToString();
        <script type="text/javascript">
            alertify.success('@alert');
        </script>
    }
    <script>
        function Confirmar(mensaje, boton) {
            alertify.set({
                labels: {
                    ok: "Aceptar",
                    cancel: "Cancelar"
                }
            });
            alertify.confirm("" + mensaje, function (e) {
                if (e) {
                    $('#' + boton).click()
                }
                else {
                    alertify.error('Se ha cancelado la accion')
                }
            });
            return false;
        }
    </script>

    <script>
        function MostrarCuadroLogin() {

            $('#triangulo').css('display', 'initial');
            $('#rectangulo').css('display', 'initial');
            $('#rectanguloBotones').css('display', 'initial');
        }
    </script>

    <script>
        $(document).ready(function () {

            $(document).click(function (e) {
                if (e.target.id != 'BotonConexus' && e.target.id != 'cerrarSession') {
                    $('#triangulo').hide();
                    $('#rectangulo').hide();
                    $('#rectanguloBotones').hide();
                }
            });

        });

    </script>
</body>
</html>